@model _08_ASP.NET_MVC_Ej3.Models.VM.clsPersonaEditadaVM

<title>Persona Modificada</title>

<label>Id: @Model.Persona.IdPersona</label> 
<br />

<label>Nombre: @Model.Persona.Nombre</label> 
<br />

<label>Apellido: @Model.Persona.Apellido</label> 
<br />

<label>Telefono: @Model.Persona.Telefono</label>
<br />

<label>Departamento: @Model.NombreDepartamento</label>
<br />
