@model CRUD_Personas_ASP.Models.VM.vmEditarInsertarPersona

@{
    ViewData["Title"] = "EditarPersona";
}

<title>Editar Persona</title>

<h1>Editar Persona</h1>
<br />
<hr />
<br />
<img src="@Model.Persona.Foto" width="200" height="240" />
<br />
<hr />
<br />
<form method="post">
    @Html.HiddenFor(m => Model.Persona.ID)
    <label>Nombre: </label>
    @Html.TextBoxFor(m => Model.Persona.Nombre)
    <br />
    <label>Apellidos: </label>
    @Html.TextBoxFor(m => Model.Persona.Apellidos)
    <br />
    <label>Telefono: </label>
    @Html.TextBoxFor(m => Model.Persona.Telefono)
    <br />
    <label>Dirección: </label>
    @Html.TextBoxFor(m => Model.Persona.Direccion)
    <br />
    <label>Fecha Nacimiento: </label>
    @Html.TextBoxFor(x => x.Persona.FechaNacimiento, "{0:yyyy-MM-dd}", new { @class = "form-control",@type = "date", @min = "1900-01-01"})
    <br />
    <label>Foto: </label>
    @Html.TextBoxFor(m => Model.Persona.Foto)
    <br />

    <label>Departamento: </label>
    <select name="Persona.IdDepartamento">
        @for (var i = 0; i < Model.ListaDepartamentos.Count; i++)
        {
            if (Model.Persona.IDDepartamento == Model.ListaDepartamentos[i].ID)
            {
                <option selected value="@Model.ListaDepartamentos[i].ID">@Model.ListaDepartamentos[i].Nombre</option>
            }
            else
            {
                <option value="@Model.ListaDepartamentos[i].ID">@Model.ListaDepartamentos[i].Nombre</option>
            }
        }
    </select>
    <br />
    <input type="submit" value="Enviar" />
</form>

@Html.ActionLink("Volver", "ListadoPersona", "Persona",new{}, new {style="border: 1px solid #000; padding: 5"})

