@model IEnumerable<CRUD_Personas_Entidades.clsDepartamento>

@{
    ViewData["Title"] = "ListadoDepartamento";
}

<title>Listado Departamentos</title>
<br />
@Html.ActionLink("Volver", "Index", "Home",new{}, new {style="border: 1px solid #000; padding: 10"})

<h1>Listado Departamentos</h1>
<p>
    @Html.ActionLink("Create new", "InsertarDepartamento", "Departamento",new{}, new {style="border: 1px solid #000; padding: 5"})
</p>
<table class="table">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                Nombre
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="https://github.com/ManuelTirado/Fotos/blob/main/department.png?raw=true" height="100" width="100" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditarDepartamento", "Departamento", item, new {style="border: 1px solid #000; padding: 5"}) |
                    @Html.ActionLink("Delete", "BorrarDepartamento", "Departamento", item, new {style="border: 1px solid #000; padding: 5"})
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
